@utility radio {
  @apply rounded-full cursor-pointer shrink-0 border shadow-xs transition-[color,box-shadow] focus-visible:ring-4 focus-visible:outline-1 disabled:cursor-not-allowed disabled:opacity-50 aria-invalid:focus-visible:ring-0;

  --radio-bg: var(--color-info, var(--color-info-content));
  --radio-fg: var(--color-base-100);
  --size: calc(var(--size-selector, 0.25rem) * 6);
  width: var(--size);
  height: var(--size);

  border-color: var(--radio-bg);
  color: var(--radio-fg);

  & svg {
    stroke-width: 0;
  }

  &[data-state="checked"] {
    background-color: var(--radio-bg);
    color: var(--radio-fg);
    border-color: var(--radio-bg);
  }

  &.radio-outline {
    --radio-fg: var(--radio-color);
    --radio-bg: #0000;
    background-image: none;
    border-color: currentColor;
    & svg {
      stroke-width: 68%;
    }
  }

  &.radio-dash {
    --radio-fg: var(--radio-color);
    --radio-bg: #0000;
    /* background-image: none; */
    border-color: currentColor;
    border-style: dashed;
    & svg {
      stroke-width: 68%;
    }
  }

  &.radio-soft {
    color: var(--radio-color, var(--color-base-content));
    background-color: color-mix(
      in oklab,
      var(--radio-color, var(--color-base-content)) 8%,
      var(--color-base-100)
    );
    border-color: color-mix(
      in oklab,
      var(--radio-color, var(--color-base-content)) 10%,
      var(--color-base-100)
    );
    background-image: none;
    & svg {
      stroke-width: 68%;
    }
  }
}

@utility radio-primary {
  --radio-color: var(--color-primary);
  --radio-bg: var(--color-primary);
  --radio-fg: var(--color-primary-content);
}

@utility radio-secondary {
  --radio-color: var(--color-secondary);
  --radio-bg: var(--color-secondary);
  --radio-fg: var(--color-secondary-content);
}

@utility radio-accent {
  --radio-color: var(--color-accent);
  --radio-bg: var(--color-accent);
  --radio-fg: var(--color-accent-content);
}

@utility radio-neutral {
  --radio-color: var(--color-neutral);
  --radio-bg: var(--color-neutral);
  --radio-fg: var(--color-neutral-content);
}

@utility radio-info {
  --radio-color: var(--color-info);
  --radio-bg: var(--color-info);
  --radio-fg: var(--color-info-content);
}

@utility radio-success {
  --radio-color: var(--color-success);
  --radio-bg: var(--color-success);
  --radio-fg: var(--color-success-content);
}

@utility radio-warning {
  --radio-color: var(--color-warning);
  --radio-bg: var(--color-warning);
  --radio-fg: var(--color-warning-content);
}

@utility radio-error {
  --radio-color: var(--color-error);
  --radio-bg: var(--color-error);
  --radio-fg: var(--color-error-content);
}

@utility radio-ghost {
  @apply border-base-200 bg-base-200 text-base-content;
  background-image: none;
}

@utility radio-xs {
  width: calc(var(--size-selector, 0.25rem) * 4);
  height: calc(var(--size-selector, 0.25rem) * 4);
}

@utility radio-sm {
  width: calc(var(--size-selector, 0.25rem) * 5);
  height: calc(var(--size-selector, 0.25rem) * 5);
}

@utility radio-md {
  width: calc(var(--size-selector, 0.25rem) * 6);
  height: calc(var(--size-selector, 0.25rem) * 6);
}

@utility radio-lg {
  width: calc(var(--size-selector, 0.25rem) * 7);
  height: calc(var(--size-selector, 0.25rem) * 7);
}

@utility radio-xl {
  width: calc(var(--size-selector, 0.25rem) * 8);
  height: calc(var(--size-selector, 0.25rem) * 8);
}
